@leftW: 300px;

.section-container {
  position: relative;
}
.section-groups {
  position: relative;
  float: left;
  width: @leftW;
  margin-right: -@leftW;
  min-height: @leftW * 2.5;
  background: darken(@primary, 20%);
}
.section-main {
  @pad: 10px;
  float: left;
  border-left: @leftW + 10px solid @primary;
  width: 100%;
  background: darken(@primary, 20%);

  .nav-tab {
    li {
      float: left;
      margin: 0 @pad;
      a {
        display: block;
        padding: @pad;
        font-size: 18px;
      }
      &.active > a{
        border-bottom: 3px solid #fff;
        color: #fff;
      }
    }
  }

  .pages-w {
    padding: @pad;
  }
}